body {
  background-color: #193441;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: 'Baloo Bhai', cursive;
}

#social-container {
  background-color: #91AA9D;
}

#logo-container .callout {
  background-color: #193441;
  color: white;
  margin-bottom: 0;
}

#menu-container {
  background-color: #FCFFF5;
}

#menu-container li a {
  color: #193441;
  font-family: 'Baloo Bhai', cursive;
}

#submenu-container {
  border: 0;
}

#menu-container li a:hover,
#submenu-container li a:hover {
  color: #3E606F;
}

#submenu-container li a {
  background-color: #FCFFF5;
  color: #91AA9D;
}

#tickets-action .callout {
  background-color: #D1DBBD;
  color: white;
  margin-bottom: 0;
}

#tickets-action .callout button {
  color: #193441;
  border: 1px solid #193441;
}

#lineup-container {
  padding: 1em 0;
}

#lineup-container,
#lineup-container .tabs-panel,
#lineup-container .tabs,
#lineup-container .tabs .tabs-title,
#lineup-container .tabs .tabs-title.is-active a{
  background-color: #91AA9D;
  color: white;
  border: 0;
  text-transform: uppercase;
  font-family: 'Baloo Bhai', cursive;
}

.tabs-content {
  border: 0;
}

#lineup-container .tabs .tabs-title a {
  font-size: 18px;
  color: white;
}

#lineup-container .tabs .tabs-title a:hover {
  color: #a7fffb;
  background-color: #91AA9D;
}

.tabs-title {
  display: inline-block;
  float: none;
}

#lineup-container .orbit-container {
  margin-bottom: 1em;
}

#lineup-container .column:nth-child(odd) figcaption {
  text-align: right;
}

#tickets-container {
  padding: 1em 0;
  background-color: #D1DBBD;
  color: #193441;
}

.pricing-table {
  border: 1px solid #193441;
  font-family: 'Russo One', sans-serif;
}

.pricing-table li,
.pricing-table li.description {
  font-size: 15px;
}

.pricing-table li.price,
.pricing-table li.title {
  font-size: 30px;
}

#info-container {
  background-color: #193441;
  color: white;
  padding: 1em 0;
}

#info-container .info-map iframe {
  width: 100%;
}

#suscribete-container {
  background-color: #91AA9D;
  color: white;
  padding: 1em 0;
}

#suscribete-container input[type="submit"] {
  font-family: 'Russo One', sans-serif;
}

#suscribete-container .error-container {
  font-family: 'Baloo Bhai', cursive;
}

.is-invalid-input:not(:focus) {
  background-color: rgba(223, 219, 219, 0.81);
  border-color: rgba(223, 219, 219, 0.81);
}